<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>GeoLocation</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <h1 style="color: blueviolet;">Welcome To Repair.com</h1> -->
</ion-header>

<ion-content>
  <ion-button full (click) ="updateCoordinates()">Update Location</ion-button>
  <br>
  <ion-button full (click) ="testNearest()">Get Nearest</ion-button>
  <br>

  <ion-button full (click) ="getCurrentCoordinates()">Get Location</ion-button>

  <div class="map-wrapper">
    <div id="map_center">
      <img src="assets/icon/location-marker.png" />
    </div>
    <div #map id="map"></div>
  </div>

  <ion-grid>
    <ion-row>
  <div *ngIf = "location">
    <h3>Latitude : {{location.lat}}</h3>
    <h3>Longitude : {{location.lng}}</h3>
  </div>
    </ion-row>

  <ion-row>
    <ion-col size="3">
      <b>Address</b>
    </ion-col>
    <ion-col>
      {{address}}
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
